{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%}
 {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New Device
        </q-btn>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Devices</h5>
          </div>

          <div class="col-auto">
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search"></q-icon>
              </template>
            </q-input>
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          flat
          dense
          :rows="devices"
          row-key="id"
          :columns="deviceTable.columns"
          v-model:pagination="deviceTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th style="width: 5%"></q-th>
              <q-th style="width: 5%"></q-th>

              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                auto-width
              >
                <div v-text="col.label"></div>
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="openUpdateDevice(props.row.id)"
                  icon="edit"
                  color="blue"
                >
                  <q-tooltip>Edit Device</q-tooltip>
                </q-btn>
              </q-td>
              <q-td>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteDevice(props.row.id)"
                  icon="cancel"
                  color="pink"
                >
                  <q-tooltip>Delete Device</q-tooltip>
                </q-btn>
              </q-td>

    
           <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                auto-width
              >
                <div v-if="col.name == 'id'"></div>
                <div v-else-if="col.name == 'websocket' && col.value != 0 "><q-btn flat dense size="s" color="green" icon="link"><q-tooltip>Connected</q-tooltip></q-btn></div>
		        <div v-else-if="col.name == 'websocket' && col.value == 0 "><q-btn flat dense size="s" color="red" icon="link_off"><q-tooltip>Disonnected</q-tooltip></q-btn></div>
                <div v-else v-text="col.value"></div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} BitcoinTaps Partytap Extension
        </h6>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <p>
          BitcoinTaps PartyTap is an LNbits extension enables lightning payments for beertaps. for more information checkout the GitHub <a href="https://github.com/BitcoinTaps/PartyTap" class="text-secondary">repository</a> or the <A href="https://www.bitcointaps.com/PartyTap">Website</a> for instructions on how to build this beertap.
        </p>
        <p>
          The firmware for the beertap can be flashed right here from within this browser. Connect the PartyTap to your computer and make sure you are viewing this page with the <b>Chrome</b> web browser and press the 'Flash' button. 
        </p>
        <p>
          <esp-web-install-button manifest="https://firmware.bitcointaps.com/partytap/latest/manifest.json">
            <button slot="activate">Flash</button>
          </esp-web-install-button>
      	</p>
	<p>
	  After flashing, perform the following steps:
	  <ol>
	    <li>Click the top bar to enter the configuration screen. The default PIN is 123456. This will bring you to the Admin screen. You can always go back to this screen to inspect the current status.</li>
      <li>On the Admin screen, press the Config button to go to the Configuration menu.</li>
	    <li>Configure the following data:</li>
        <ol>
          <li>Wi-Fi network SSID and password.</li>
	        <li>The hostname of the LNbits server, probably this one.</li>
          <li>The device id of the PartyTap.</li>
          <li>Set Payment mode to: 'Online', which is the default.</li>
          <li>Set Control mode to: 'Servo, Time', which is the default.</li>
          <li>Adjust the servo positions for open/close and test them using the 'Open' and 'Close' buttons.</li>      
        </ol>
	    <li>Press the 'Restart' button to restart the PartyTap with the updated configuration.</li>
	  </ol>
    The PartyTap will display a button to order a drink. If the button is not displayed, go back to the Admin page to inspect the current status.    
	</p>
        <p>
          Created by: <A href="https://github.com/pieterjm" class="text-secondary">Pieter Meulenhoff</A>
        </p>

      </q-card-section>
    </q-card>
  </div>

  <q-dialog
    v-model="settingsDialog.show"
    deviceition="top"
    @hide="closeFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-h6">Device string</div>
      <q-btn
        dense
        outline
        unelevated
        color="primary"
        size="md"
        @click="copyText(wslocation, 'Link copied to clipboard!')"
      >
        <span v-text="wslocation"></span>
        <q-tooltip> Click to copy URL </q-tooltip>
      </q-btn>
    </q-card>
  </q-dialog>

  <q-dialog v-model="formDialog.show" deviceition="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormData" class="q-gutter-md">
        <h5 v-html="formDialog.data.device" v-if="formDialog.data.id"></h5>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.title"
          type="text"
          label="Title"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          filled
          dense
          v-model.trim="formDialog.data.currency"
          type="text"
          label="Fiat currency for device"
          :options="currency"
        ></q-select>
	    <q-select
          filled
          dense
          v-model.trim="formDialog.data.branding"
          type="text"
          label="label"
	      option-label="label"
	      map-options
          :options="[ { label: 'BitcoinTaps', value: 'BITCOINTAPS' }, { label: 'Kan het al?', value: 'BEER' }, { label: 'None', value: 'NONE' }, { label: 'Grauburgunder (VJZ)', value: 'VJZGBT'} , { label: 'Bonanza', value: 'BONANZA'} ]"
	      emit-value
	      option-value="value"
        ></q-select>
        <q-btn
          unelevated
          class="q-mb-lg"
          round
          size="sm"
          icon="add"
          @click="addSwitch"
          v-model="formDialog.data.switches"
          color="primary"
        ></q-btn>
        <q-btn
          unelevated
          class="q-mb-lg"
          round
          size="sm"
          icon="remove"
          @click="removeSwitch"
          v-model="formDialog.data.switches"
          color="primary"
        ></q-btn>
        <div v-for="_switch in formDialog.data.switches">
          <div class="row">
            <div class="col">
              <q-input
                ref="setAmount"
                filled
                dense
                v-model.trim="_switch.amount"
                class="q-pb-md"
                :label="'Amount (' + formDialog.data.currency + ') *'"
              ></q-input>
            </div>
            <div class="col q-ml-md">
              <q-input
                filled
                dense
                v-model.trim="_switch.duration"
                type="number"
                label="duration (ms)"
              ></q-input>
            </div>
            <div class="col q-ml-md">
              <q-input
                filled
                dense
                v-model.trim="_switch.label"
                type="text"
                label="Label"
              ></q-input>
            </div>
          </div>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialog.data.id"
            unelevated
            color="primary"
            :disable=" formDialog.data.title == ''"
            type="submit"
            >Update Device</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="formDialog.data.title == ''"
            type="submit"
            >Create Device</q-btn
          >
          <q-btn @click="cancelFormDialog" flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="qrCodeDialog.show" position="top">
    <q-card v-if="qrCodeDialog.data" class="q-pa-lg lnbits__dialog-card">
      <lnbits-qrcode
        :value="'lightning:' + lnurlValue"
        class="rounded-borders"
      ></lnbits-qrcode>
      <br />
      <q-btn
        outline
        color="grey"
        @click="copyText(lnurlValue, 'LNURL copied to clipboard!')"
        >Trigger Device</q-btn
      >
      <q-btn
        outline
        color="grey"
        @click="copyText(lnurlValue, 'LNURL copied to clipboard!')"
        >Copy LNURL</q-btn
      >
      <q-chip
        v-if="websocketMessage == 'WebSocket NOT supported by your Browser!' || websocketMessage == 'Connection closed'"
        clickable
        color="red"
        text-color="white"
        icon="error"
      >
        <span v-text="wsMessage"></span>
      </q-chip>
      <q-chip v-else clickable color="green" text-color="white" icon="check">
        <span v-text="wsMessage"></span>
      </q-chip>
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn
          v-for="_switch in qrCodeDialog.data.switches"
          outline
          color="primary"
          @click="lnurlValue = _switch.lnurl"
          :label="'Switch pin:' + _switch.pin + ' (' + _switch.duration + ' ms)'"
        ></q-btn>
      </div>
      <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script type="module" src="https://unpkg.com/esp-web-tools@10/dist/web/install-button.js?module"></script>
<script src="{{ static_url_for('partytap/static', 'js/index.js') }}"></script>
{% endblock %}